<img src="https://raw.githubusercontent.com/lyceeHM/Terminale_Spe/master/python_lycee.png">
<div id="titre">
<h1 style="color:white;
  font-family:Comic Sans MS;
  font-size:3em;
  background-color:black;
  text-align:center;
  padding:5px">Livret Python</h1>
<div style="font-family:Comic Sans MS; background-color:#888;box-shadow: 8px 8px 0px #aaa; text-align:center; width: 50%; color:white">Seconde</div>
</div>

<div style="color:black;font-weight:bold"> <span style="font-size:10em">III</span> <span style="font-family:Comic Sans MS;font-size:2em;color:white;background-color:gray;text-align:center"> Boucle "for" & fonctions </span></div>

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 6 : </h1>

<span style="font-size:2em;font-weight:bold">1.</span> <span style="font-size:1.5em;font-weight:bold">a.</span>

<blockquote> On peut utiliser un tableau pour lister à chaque étape, le contenu de chaque variable :

<table>
 <col width=90 span=2>
 <tr>
  <td style="text-align: right;border: 1px solid black;"><code style="backgrund-color:white">k</code></td>
  <td style="text-align: right;border: 1px solid black;"><code style="backgrund-color:white">S</code></td>
 </tr>
 <tr>
  <td style="text-align: right;border: 1px solid black;background-color:black">&nbsp;</td>
  <td style="text-align: right;border: 1px solid black;">0</td>
 </tr>
 <tr>
  <td style="text-align: right;border: 1px solid black;">1</td>
  <td style="text-align: right;border: 1px solid black;">1</td>
 </tr>
 <tr>
  <td style="text-align: right;border: 1px solid black;">2</td>
  <td style="text-align: right;border: 1px solid black;">3</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td style="text-align: right;border: 1px solid black;">3</td>
  <td style="text-align: right;border: 1px solid black;">6</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td style="text-align: right;border: 1px solid black;">4</td>
  <td style="text-align: right;border: 1px solid black;">10</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td style="text-align: right;border: 1px solid black;background-color:coral">5</td>
  <td style="text-align: right;border: 1px solid black;background-color:coral">15</td>
    </tr>

</table>
    
</blockquote>

<span style="font-size:1.5em;font-weight:bold">b.</span>

In [1]:
S = 0
S = S + 1
S = S + 2
S = S + 3
S = S + 4
S = S + 5
print(S)

15

<span style="font-size:1.5em;font-weight:bold">c.</span>

> On affecte $\boxed{0}$ à la variable <code style="background-color:white">S</code>, puis on répète l'instruction <code style="background-color:white">S + k</code> avec <code style="background-color:white">k</code> allant de $\boxed{1}$ à $\boxed{5}$

<span style="font-size:2em;font-weight:bold">2.</span> <span style="font-size:1.5em;font-weight:bold">a.</span>

In [2]:
S = 0
for k in range(1, 6):
    S = S + k
    print(S, k)

1 1
3 2
6 3
10 4
15 5

<span style="font-size:1.5em;font-weight:bold">b.</span>

> <code style="background-color:white">S</code> et <code style="background-color:white">k</code> sont les seules variables.

<span style="font-size:1.5em;font-weight:bold">c.</span>

On a : $$\boxed{S=1\,+\,2\,+\,3\,+\,4\,+\,5}$$

<span style="font-size:2em;font-weight:bold">3.</span> <span style="font-size:1.5em;font-weight:bold">a.</span>

In [3]:
for k in range(1, 10):
    print(k)

1
2
3
4
5
6
7
8
9

<span style="font-size:1.5em;font-weight:bold">b.</span>
<table border=0 cellpadding=0 cellspacing=0 width=396>
 <col width=120 >
 <col width=100 span=2 style="text-align: right;border: 1px solid black;">
 <col width=119 >
 <tr height=21 >
  <td height=21 width=103 ></td>
  <td colspan=3  style="text-align: center;border: 1px solid black;" >Ensemble des entiers k
  allant<span style='mso-spacerun:yes'> </span></td>
 </tr>
 <tr height=21 style="text-align: right;border: 1px solid black;">
  <td height=21 style="text-align: right;border: 1px solid black;"></td>
  <td class=xl67 style="text-align: right;border: 1px solid black;">de<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 style='border-top:none;border-left:none'>jusque<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 style='border-top:none;border-left:none'>nombre d'entiers</td>
 </tr>
 <tr height=21 style="text-align: right;border: 1px solid black;">
  <td height=21 style="text-align: right;border: 1px solid black;"><code style="background-color:white">range(1, 8)</code></td>
  <td class=xl65 style="text-align: right;border: 1px solid black;">1</td>
  <td class=xl65 style="text-align: right;border: 1px solid black;">7</td>
  <td class=xl65 style="text-align: right;border: 1px solid black;">7</td>
 </tr>
 <tr height=21 style="text-align: right;border: 1px solid black;">
  <td height=21 style="text-align: right;border: 1px solid black;"><code style="background-color:white">range(8)</code></td>
  <td class=xl65 style="text-align: right;border: 1px solid black;">0</td>
  <td class=xl65 style="text-align: right;border: 1px solid black;">7</td>
  <td class=xl65 style="text-align: right;border: 1px solid black;">8</td>
 </tr>
 <tr style="text-align: right;border: 1px solid black;">
  <td style="text-align: right;border: 1px solid black;"><code style="background-color:white">range(2, 101)</code></td>
  <td style="text-align: right;border: 1px solid black;">2</td>
  <td style="text-align: right;border: 1px solid black;">100</td>
  <td style="text-align: right;border: 1px solid black;">99</td>
 </tr>
 <tr style="text-align: right;border: 1px solid black;">
  <td style="text-align: right;border: 1px solid black;"><code style="background-color:white">range(-4, 5)</code></td>
  <td style="text-align: right;border: 1px solid black;">-4</td>
  <td style="text-align: right;border: 1px solid black;">4</td>
  <td style="text-align: right;border: 1px solid black;">9</td>
 </tr>

 <tr height=0 style='display:none'>
  <td width=103 style='width:77pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=119 style='width:89pt'></td>
 </tr>
</table>

<span style="font-size:2em;font-weight:bold">4.</span>

In [4]:
s = 0
for k in range(1, 11):
    s = s + k
s

55

<span style="font-size:2em;font-weight:bold">5.</span> <span style="font-size:1.5em;font-weight:bold">a.</span>

In [5]:
def somme(n):
    s = 0
    for k in range(1, n + 1):
        s = s + k
    return s

<span style="font-size:1.5em;font-weight:bold">b.</span>

In [6]:
somme(10)

55

> Cette instruction calcule $$1+2+3+4+5+6+7+8+9+10$$

<span style="font-size:1.5em;font-weight:bold">c.</span>

In [7]:
somme(100)

5050

<span style="font-size:1.5em;font-weight:bold">d.</span>

In [8]:
somme(1000)

500500

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 7 : </h1>

<span style="font-size:2em;font-weight:bold">1.</span>

In [9]:
for k in range(1, 11):
    print('banane')

banane
banane
banane
banane
banane
banane
banane
banane
banane
banane

<blockquote>
    On aurait pu écrire : 
    
```python
for k in range(10):
    print('banane')
```
Les valeurs de <b>k</b> vont de 0 jusque 10 exclu donc : 
<ul>
    <li>ce sont les entiers de 0, 1, 2, ..., 9</li>
    <li>Il y en a 10 et la boucle for sera exécutée 10 fois</li>
</ul>
</blockquote>

<span style="font-size:2em;font-weight:bold">2.</span>

In [10]:
for k in range(1, 51):
    print(k)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 8 : </h1>

In [11]:
def f(n):
    u = n % 10
    d = n // 10
    return 10 * u + d

<span style="font-size:2em;font-weight:bold">1.</span>

In [12]:
f(75)

57

In [13]:
f(13)

31

In [14]:
f(70)

7

In [15]:
f(f(17))

17

<span style="font-size:2em;font-weight:bold">2.</span>

> La fonction <code style="background-color:white">f</code> permute le chiffre des dizaines avec celui des unités.

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 9 : </h1>

In [16]:
for a in range(3):
    for b in range(4, 6):
        print(a, b)

0 4
0 5
1 4
1 5
2 4
2 5

In [17]:
for a in range(3):
    for b in range(4, 6):
        print(b, a)

4 0
5 0
4 1
5 1
4 2
5 2

In [18]:
for a in range(4, 6):
    for b in range(3):
        print(a, b)

4 0
4 1
4 2
5 0
5 1
5 2

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 10 : </h1>

In [19]:
def carre(x):
    return x ** 2

for k in range(1, 6):
    print(k, carre(k))

1 1
2 4
3 9
4 16
5 25

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 11 : </h1>

In [20]:
def factorielle(n):
    p = 1
    for k in range(1, n + 1):
        p = p * k
    return p

<span style="font-size:2em;font-weight:bold">1.</span>

<blockquote>
    La fonction a pour :
<ul>
    <li> nom : <b>factorielle</b></li>
    <li> paramètre : <b>n</b></li>
</ul>
        
</blockquote>

<span style="font-size:2em;font-weight:bold">2.</span> <span style="font-size:1.5em;font-weight:bold">a.b.</span>

In [21]:
factorielle(5)

120

> Cela permet de calculer le produit $$\boxed{1\times\,2\,\times\,3\times\,4\times\,5}$$

<span style="font-size:2em;font-weight:bold">3.</span>

In [22]:
factorielle(6)

720

> Cela permet de calculer le produit $$\boxed{1\times\,2\,\times\,3\times\,4\times\,5\,\times\,6}$$

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 12 : </h1>

<span style="font-size:2em;font-weight:bold">1.</span>

In [23]:
def somme(n):
    s = 0
    for k in range(1, n + 1):
        s = s + k ** 2
    return s

<span style="font-size:2em;font-weight:bold">2.</span>

In [24]:
somme(10)

385

<span style="font-size:2em;font-weight:bold">3.</span>

In [25]:
somme(50)

42925