<div id="titre">
<h1 style="color:white;
  font-family:Comic Sans MS;
  font-size:3em;
  background-color:#D0573B;
  text-align:center;
  padding:10px">Livret Python</h1>
<div style="font-family:Comic Sans MS; background-color:black;box-shadow: 8px 8px 0px #aaa; text-align:center; width: 50%; color:white">Correction</div>
</div>

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 1 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [1]:
4 / 2

2.0

In [2]:
4 // 2

2

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

> C'est la deuxième division qui founrnit un entier car c'est le quotient de la division euclidienne de $4$ par $2$.

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 2 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>a.</span>

In [3]:
3 * (1/3 + 1)

4.0

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>b.</span>

$3\times\left(\dfrac{1}{3}+1\right)=3\times\dfrac{4}{3}=\boxed{4}$

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [4]:
2**10

1024

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>3.</span>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>a.</span>

In [5]:
18**2 + 80**2 == 82**2

True

> Cette instruction teste si l'égalité $$18^2+80^2=82^2$$ est vraie.
<br>
<b>Ce qui est vraie ici</b>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>b.</span>

>Le triangle de mesures $18$, $80$ et $82$ est rectangle, d'après le théorème de <b>Pythagore</b>.

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>c.</span>

> Testons avec Python l'égalité : $$0,18^2+0,80^2=0,82^2$$

In [6]:
0.18**2 + 0.80**2 == 0.82**2

False

> <ul>
    <li><b>Ce calcul est-il juste ?</b>
    $$\begin{array}{rcll}
    0,18^{2}+0,80^{2} & = & \left(\dfrac{18}{100}\right)^{2}+\left(\dfrac{80}{100}\right)^{2}\\
     & = & \dfrac{18^{2}}{100^{2}}+\dfrac{80^{2}}{100^{2}}\\
     & = & \dfrac{18^{2}+80^{2}}{100^{2}}\\
     & = & \dfrac{82^{2}}{100^{2}} & \text{, d'après le calcul précédent}\\
     & = & \left(\dfrac{82}{100}\right)^{2}\\
     & = & 0,82^{2}
    \end{array}$$
    Donc l'égalité est <b><u>vraie</u></b> mais <b>le test d'égalité de python est faux ! </b>.</li>
    <br>
    <li><b>Conséquence : </b> D'après Pythagore, le triangle de mesures $0,18$cm, $0,80$cm et $0,82$cm est rectangle.</li>
    <br>
    <li><b>A retenir : </b> tester l'égalité de deux flottants  <u>n'est pas conseillé avec python</u>, car leur représentation n'est pas excate !!</li>
    </ul>

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 3 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [7]:
51 % 3

0

> "$51$ est <b>divisible</b> par <b>$3$</b>".

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [8]:
51 // 3

17

>Ceci représente le quotient de la division euclienne de $51$ par $3$ et <br>$$\boxed{51=17\times 3}.$$

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center">A : Somme d'entiers consécutifs (page 8)</h1>

<b><u>Programme de calcul :</u></b>
<div style="background-color:lightblue">
<ul> 
    <li>s=0 et k=1</li>
    <li>Répéter 5 fois les instructions suivantes :
        <ul>
            <li> s prend la valeur s+k</li>
            <li> k prend la valeur k+1</li>
        </ul>
    </ul>
</div>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span> On peut utiliser un tableau pour lister à chaque étape du programme, le contenu de chaque variable :

<table border=0 cellpadding=0 cellspacing=0 width=174 style='border-collapse:
 collapse;table-layout:fixed;width:130pt'>
 <col width=87 span=2 style='width:65pt'>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl65 width=87 style='height:16.0pt;width:65pt'>S</td>
  <td class=xl65 width=87 style='border-left:none;width:65pt'>k</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none'>0</td>
  <td class=xl64 style='border-top:none;border-left:none;background-color:black'>&nbsp;</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none'>0</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>1</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none'>1</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>2</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none'>3</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>3</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none'>6</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>4</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none'>10</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>5</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl63 align=right style='height:16.0pt;border-top:none;background-color:coral'>15</td>
  <td class=xl63 align=right style='border-top:none;border-left:none;background-color:coral'>6</td>
 </tr>
 <tr height=0 style='display:none'>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
 </tr>
</table>
<b>Il est important d'exécuter un algorithme à la main et utiliser un tableau pour renseigner le contenu des variables mises en jeu.</b>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

<div style="background-color:lightblue">
Pour répéter l'instruction S prend la valeur S+k pour k allant de 1 jusque 5, on écrit :
    
```python

s = 0
for k in range(1, 6):
    s = s + k
```

qui se lit :
```html

pour k allant de 1 jusque 6 exclu faire:
     s prend la valeur s + k

```

</div>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>a.</span> Exécutons le code suivant

In [9]:
s = 0
for k in range(1, 6):
    s = s + k
    print(s, k)

1 1
3 2
6 3
10 4
15 5

> On voit bien que l'on a répété l'instruction s prend la valeur s + k, <br>5 fois de suite pour k allant de 1 à 5.

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>b.</span> Les variables sont <b>k</b> et <b>s</b>.

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>c.</span> On a : $$\boxed{s=1+2+3+4+5}$$

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>3.</span>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>a.</span> Exécutons :

In [10]:
for k in range(1, 10):
    print(k)

1
2
3
4
5
6
7
8
9

> Pour chaque valeur entière <b>k</b> allant de 1 jusque 10 <b>exclu</b>, on affiche <b>k</b>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>b.</span> On a :

<table border=0 cellpadding=0 cellspacing=0 width=396 style='border-collapse:
 collapse;table-layout:fixed;width:296pt'>
 <col width=103 style='mso-width-source:userset;mso-width-alt:3285;width:77pt'>
 <col width=87 span=2 style='width:65pt'>
 <col width=119 style='mso-width-source:userset;mso-width-alt:3797;width:89pt'>
 <tr height=21 style='height:16.0pt'>
  <td height=21 width=103 style='height:16.0pt;width:77pt'></td>
  <td colspan=3 class=xl66 width=293 style='width:219pt'>Ensemble des entiers k
  allant<span style='mso-spacerun:yes'> </span></td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 style='height:16.0pt'></td>
  <td class=xl67 style='border-top:none'>de<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 style='border-top:none;border-left:none'>jusque<span
  style='mso-spacerun:yes'> </span></td>
  <td class=xl67 style='border-top:none;border-left:none'>nombre d'entiers</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl68 style='height:16.0pt'>range(1, 8)</td>
  <td class=xl65 align=right style='border-left:none'>1</td>
  <td class=xl65 align=right style='border-left:none'>7</td>
  <td class=xl65 align=right style='border-left:none'>7</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl68 style='height:16.0pt;border-top:none'>range(8)</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>0</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>7</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>8</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl68 style='height:16.0pt;border-top:none'>range(2, 101)</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>2</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>100</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>99</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl68 style='height:16.0pt;border-top:none'>range(-4, 5)</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>-4</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>4</td>
  <td class=xl65 align=right style='border-top:none;border-left:none'>9</td>
 </tr>

 <tr height=0 style='display:none'>
  <td width=103 style='width:77pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=119 style='width:89pt'></td>
 </tr>
</table>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>4.</span>

In [11]:
s = 0
for k in range(1, 101):
    s = s + k
s

5050

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>5.</span>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>a.</span> Exécutons :

In [12]:
def somme(n):
    s = 0
    for k in range(1, n+1):
        s = s + k
    return s

<blockquote style="border-left: 10px solid black;background-color:#8FD5E4">
    ICI on vient de <b>définir</b> la fonction nommée <b>somme</b> de paramètre <b>n</b> qui <b>renvoie</b> $$1+2+\cdots +n.$$
    <b>Il est normal que rien ne s'affiche !</b>
</blockquote>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>b.</span>

In [13]:
somme(10)

55

> somme(10) renvoie $$1+2+\cdots +10.$$
On vient de faire appel à la fonction <b>somme</b> pour <b>n</b>=10.

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>c.</span>

In [14]:
somme(100)

5050

> somme(100) renvoie $$1+2+\cdots +100.$$
On vient de faire appel à la fonction <b>somme</b> pour <b>n</b>=10.

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 4 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [15]:
for k in range(1, 11):
    print('banane')

banane
banane
banane
banane
banane
banane
banane
banane
banane
banane

<blockquote>
    On aurait pu écrire : 
    
```python
for k in range(10):
    print('banane')
```
Les valeurs de <b>k</b> vont de 0 jusque 10 exclu donc : 
<ul>
    <li>ce sont les entiers de 0, 1, 2, ..., 9</li>
    <li>Il y en a 10 et la boucle for sera exécutée 10 fois</li>
</ul>
</blockquote>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [16]:
for k in range(1, 51):
    print(k)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 5 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [17]:
def factorielle(n):
    p = 1
    for k in range(1, n+1):
        p = p * k
    return p

<blockquote>
    La fonction a pour :
<ul>
    <li> nom : <b>factorielle</b></li>
    <li> paramètre : <b>n</b></li>
</ul>
        
</blockquote>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>a.</span>

In [18]:
factorielle(5)

120

<span style='color:white;font-weight:bold;background-color:#F0573B;padding: 2px;font-size:20px'>b.</span>

> On obtient $120$

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>3.</span>

In [19]:
factorielle(6)

720

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 6 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

<blockquote>
On a : 
    <div id="Classeur1_23668" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=609 style='border-collapse:
 collapse;table-layout:fixed;width:455pt'>
 <col width=87 span=7 style='width:65pt'>
 <tr height=21 style='height:16.0pt'>
  <td height=21 width=87 style='height:16.0pt;width:65pt'></td>
  <td class=xl63 width=87 style='width:65pt'>Au départ</td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl65 style='height:16.0pt'>k</td>
  <td class=xl64 style='border-top:none;border-left:none;background-color:black'>&nbsp;</td>
  <td class=xl63 align=right style='border-left:none'>1</td>
  <td class=xl63 align=right style='border-left:none'>2</td>
  <td class=xl63 align=right style='border-left:none'>3</td>
  <td class=xl63 align=right style='border-left:none'>4</td>
  <td class=xl63 align=right style='border-left:none'>5</td>
 </tr>
 <tr height=21 style='height:16.0pt'>
  <td height=21 class=xl65 style='height:16.0pt;border-top:none'>S</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>0</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>2</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>4</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>6</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>8</td>
  <td class=xl63 align=right style='border-top:none;border-left:none'>10</td>
 </tr>
 <tr height=0 style='display:none'>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
  <td width=87 style='width:65pt'></td>
 </tr>
</table>
        
</blockquote>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [20]:
S = 0
for k in range(1, 6):
    S = S + 2
S

10

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 7 : </h1>

In [21]:
def distance(a, b):
    if a <= b:
        return b - a
    else:
        return a - b

In [22]:
distance(2.5, 4.3)

1.7999999999999998

> <b>Rappel</b> un nombre réel est représenté en machine par son nombre  <b>flottants</b> MAIS il arrive que celui ne tombe pas juste, ici c'est 4.3 qui ne représente pas correctement $4,3$.
<br>
<br><b>Exemple : </b> le nombre réel $0,1$ est représenté en machine par le nombre flottant 0.1 et $$0,1\neq 0.1$$ 
En effet :

In [23]:
3*0.1

0.30000000000000004

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 8 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [24]:
1236 % 2 == 0

True

> Cela signifie que 2 divise bien 1236.

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [25]:
def parité(n):
    if n % 2 == 0:
        print(n, ' est pair')
    else:
        print(n, ' est impair')

In [26]:
parité(1236)

1236  est pair

In [27]:
parité(999)

999  est impair

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 9 : </h1>

In [28]:
def nb_div(n):
    c = 0
    for k in range(1, n+1):
        if n%k == 0:
            c = c + 1
    return c

In [29]:
nb_div(12)

6

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 10 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [30]:
def diviseurs2(n):
    D = [1]
    for div in range(2, n+1):
        if n%div == 0:
            D.append(div)
    return D

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [31]:
D1 = diviseurs2(75)
D1

[1, 3, 5, 15, 25, 75]

In [32]:
D2 = diviseurs2(105)
D2

[1, 3, 5, 7, 15, 21, 35, 105]

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>3.</span>

In [33]:
D3 = [d1 for d1 in D1 if d1 in D2]
D3

[1, 3, 5, 15]

> <b>D3</b> est l'ensemble <u>des diviseurs communs</u> de 75 et 105.

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>4.</span>

In [34]:
max(D3)

15

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>5.</span>

In [35]:
def pgcd(a, b):
    Da = diviseurs2(a)
    Db = diviseurs2(b)
    Dcommuns = [d for d in Da if d in Db]
    return max(Dcommuns)

In [36]:
pgcd(20400, 265625)

425

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 11 : </h1>

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>1.</span>

In [37]:
def pgcd(a, b):
    if b == 0:
        return a
    else:
        r = a%b
        return pgcd(b, r)

<span style='color:white;font-weight:bold;background-color:black;width:12px;padding: 2px;font-size:20px'>2.</span>

In [38]:
pgcd(212, 86)

2

In [39]:
pgcd(20400, 265625)

425

<h1 style="font-family:Comic Sans MS;color:white;background-color:black;text-align:center"> Exercice 12 : </h1>

In [40]:
def bissextile(n):
    if n % 400 == 0:
        return True
    else:
        if n % 4 == 0 and n % 100 >0:
            return True
    return False

In [41]:
bissextile(2000)

True

In [42]:
bissextile(2001)

False

In [43]:
bissextile(2020)

True

> Code encode plus naturel

In [44]:
def bissextile_bis(n):
    if n % 400 == 0: 
        return True
    elif n % 100 == 0: 
        return False
    elif n % 4 == 0:
        return True